body{
    background-color: #008ce9;
    background-image: linear-gradient(117deg, #008ce9 0%, #8bd080 100%);
    height: 100vh;


    #card-file-upload{
        margin-top: 5%;



        .custom-file-input ~ .custom-file-label::after {
            content: "Cargar";
            background: #3be6c4;
            color: #1a202c;
            font-weight: bold;
        }
    }
}
